.films-box{
  display: flex;
  border: 10px solid red;
  overflow-x: scroll;
  gap: 10px;
}

.film-card{
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  border: 1px solid green;
}

.film-card img{
  border: 5px solid black;
  object-fit: cover;
  width: 100%;
  height: 400px;
}